p {
  font-family: 'Alegreya', serif;
  font-size: 18px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

h4, a {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 18px;
  text-align: center;
}

div {
  max-width: 100%;
}


header {
  background-color: #e8f2f9;
  position: absolute;
  height: 150px;
  width: 100%;
  top: 0;
  left: 0
}

#header-logo {
  position: absolute;
  height: 70px;
  top: 40px;
  left: 40px;
}

nav {
  position: absolute;
  right: 0;
  width: 60%;
  display: flex;
  justify-content:space-around;
  align-items: baseline;
  flex-wrap:wrap;
  padding: 70px 0px 70px 0px;

}



nav a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  flex:1;
  font-weight: bold;
  margin-left: 20px;
  white-space: nowrap;
  margin-bottom: 20px;
  text-decoration: none
}

.get-help-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  flex:1;
  margin-top: -10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
  text-align: center;
  border: none;
  background-color: #A3DDBB;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}


#main {
  position: absolute;
  top: 150px;;
  left: 0;
}
/*********************************/

.hero-banner {
  text-align: center;
  padding: 40px;
}
.button-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content:space-around;
}

.green-button{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 20px;
  white-space: nowrap;
  text-align: center;
  border: none;
  background-color: #A3DDBB;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  }

/*********************************/

.community-updates{
  padding: 20px 40px 40px 40px;
  background-color: #B8E2FF;
}


.community-updates-container {
  display: flex;
  justify-content:space-around;
}

.community-updates-container div{
    padding:20px;
    background-color: white;
}

.box-1 {
  flex-basis: 40%;
  /* flex: 1; */
}

.box-2 {
  flex-basis: 40%;
  /* flex: 1; */
}


.yellow-button {
  background-color: #FFEB99;
  border: none;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
/*********************************/

.in-media{
  padding: 20px 40px 40px 40px;
  background-color: white;
}

.in-media-container {
  display: flex;
  justify-content:space-around;
}

.box-forbes {
  flex-basis: 30%;
  /* flex: 1; */
}

.box-fc {
  flex-basis: 30%;
  /* flex: 1; */
}


img.media-img {
  padding-left: 50px;
  max-width:150px;
}


/*********************************/

.how-it-works{
  padding: 20px 40px 40px 40px;
  background-color: #B8E2FF;
}

.how-it-works-container {
  display: flex;
  justify-content:space-around;
}

.box-3 {
  flex-basis: 30%;
  /* flex: 1; */
}

.box-4 {
  flex-basis: 30%;
  /* flex: 1; */
}

.box-5 {
  flex-basis: 30%;
  /* flex: 1; */
}


img.how-it-works-img {
  padding-left: 50px;
  max-width:150px;
}

/*********************************/

.support{
  padding: 20px 40px 40px 40px;
  background-color: white;
}

.support-container {
  display: flex;
  justify-content:space-around;
}

.blue-button{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 20px;
  white-space: nowrap;
  text-align: center;
  border: none;
  background-color: #65A1CB;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  }


.box-left {
  flex-basis: 30%;
  /* flex: 1; */
}

.box-right {
  flex-basis: 60%;
  /* flex: 1; */
}

.supporters-img-container {
  display: flex;
  flex-wrap:wrap;

}
img.supporters {
  padding-left: 50px;
  max-height:50px;
  padding: 20px;
}
